@import "tailwindcss";
@import "./pages/register.css";
*{
  font-family: sans-serif;
}
html::-webkit-scrollbar{
  width: 0;
}
form::-webkit-scrollbar{
  width: 10px;
}

aside ul li{
  @apply  text-xl font-serif my-1 pl-8 
}
